{% extends './base_email.html' %} 
{% load static %}

{% block main_content %}
 <!-- Main Content -->
  <style>
  .a6S{
    display: none !important;
  }
  .ii a[href] {
    color: #15c;
    text-decoration: none;
    cursor: no-drop;

}
</style>
    <tr>
      <td style="padding:70px 30px; background: url('https://time-capsoul-files.s3.ap-south-1.amazonaws.com/image/assets/background_image.png') no-repeat; min-height: 559px;margin: 60px 0px;">
        <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
          <tr>
            <td>
              <h2 style="font-family:'Mauline',serif;font-size:30px;font-weight:400;color:#000;margin:0 0 15px;line-height:1.2;">
                Welcome to Yurayi
              </h2>
              <p style="font-size:14px;font-weight:400;color:#17252E;line-height:140%;margin:0 0 30px;">
                Thanks for subscribing! Let’s make memories together. You’re now part of Yurayi.
              </p>
              <a href="https://yurayi.com/dashboard" style="display:inline-block;background:#EB629B;color:#FFF;text-decoration:none;border-radius:100px;padding:14px 40px;font-size:14px;font-weight:600;transition:background-color .3s;">
                ❤️ Create Your First Memory Room →
              </a>
            </td>
          </tr>

          <tr>
            <td style="padding-top:30px; text-decoration: none;">
              <p style="font-size:14px;font-weight:600;color:#17252E;margin:0 0 15px;text-decoration:none;">
                Dear <span style="color:#17252E; text-decoration:none; pointer-events:none; cursor:default;">{{email}}</span>,
              </p>

              <p style="font-size:14px;font-weight:400;color:#17252E;line-height:140%;margin:0 0 15px;">
                Thank you for subscribing to Yurayi. From stories and voice notes to messages for the future, Yurayi is designed to preserve the moments that are important for you.
              </p>
              <p style="font-size:14px;font-weight:400;color:#17252E;line-height:140%;margin:0 0 15px;">
                You will be receiving tips, updates, and inspiration to help you start your memory journey.
              </p>
              <p style="font-size:14px;font-weight:400;color:#17252E;line-height:140%;margin:0 0 15px;">
                We’re glad you’re here.
              </p>

              <p style="font-size:14px;font-weight:400;color:#17252E;line-height:140%;margin:0 0 15px;">
                This is your forever space.
              </p>
              <p style="font-size:14px;font-weight:400;color:#17252E;line-height:140%;margin:0 0 15px;">
                Let’s begin.
              </p>
            </td>
          </tr>

          <tr>
            <td style="padding-top:20px;">
              <p style="font-size:14px;font-weight:400;color:#17252E;line-height:140%;margin:0 0 5px;">
                With care,
              </p>
              <p style="font-size:14px;font-weight:400;color:#17252E;line-height:140%;margin:0;">
                The Yurayi Team
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>

{% endblock main_content %}
